<html>
<head>
    <title>Ahhh Monsters</title>
<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <nav>
        <ul class="nav-bar">
            <li><a href="/dinosaurs">Home</a></li>
            <li><a href="/dinosaurs/index">All Dino</a></li>
            <li><a href="/dinosaurs/new"></a>New Dino</li>
            <li><a href="/cyprids">Cryptids</a></li>
            <li><a href="/cyprids/1">Monsters</a></li>
            <li><a href="/cyprids/edit/1">More Monsters</a></li>
        </ul>
    </nav>
    <%- body %>
</body>
</html>