<form method="POST" action="/dinosaurs">
    <label for="cryptidType">Type</label>
    <input type="text" name="type">

    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">

    <input id="cryptidType" type="submit">
</form>