<h1>Look at all those Chickens!</h1>

<h3>List o' Dinos</h3>
<ul>
    <% myDinos.forEach((dino, index) => { %>
        <li><a href="/dinosaurs/<%= index %>"><%= dino.name %> is a <%= dino.type %></a></li>
    <% }) %>
</ul>

<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>